.container {
    width: 600px;
    height: 600px;
    margin: auto
}

.container div {
    border: 1px solid black;
}

.buttons {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    justify-content: flex-start;
    width: 600px;
}

button {
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-family: Arial;
    margin: 20px;
}