.container {
    width: 600px;
    height: 600px;
    margin: auto
}

.container div {
    border: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
    justify-content: center;
    width: 600px;
}

h1 {
    text-align: center;
    font-family: Arial;
    margin: 20px;
}

#btn-color-text {
    margin-left: auto;
    font-family: Arial;
}